In [1]:
import pandas as pd

In [2]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [3]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB,MultinomialNB

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [6]:
from sklearn.feature_selection import SelectPercentile

In [8]:
df=pd.read_csv("C:/Datasets/spam.csv",encoding='latin1')

In [9]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [10]:
df.shape

(5572, 5)

In [12]:
df=df.loc[:,['v1','v2']]

In [13]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
X=df['v2']
y=df['v1']

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=10)

In [17]:
X_train.shape

(3900,)

In [18]:
vectorizer=TfidfVectorizer()

In [20]:
X_train_transformed=vectorizer.fit_transform(X_train)
X_test_transformed=vectorizer.transform(X_test)

In [22]:
feature_names=vectorizer.get_feature_names()

In [24]:
len(feature_names)

7230

In [25]:
selector=SelectPercentile(percentile=10)

In [26]:
selector.fit(X_train_transformed,y_train)

SelectPercentile(percentile=10,
                 score_func=<function f_classif at 0x00000201E1088C80>)

In [28]:
X_train_transformed=selector.transform(X_train_transformed).toarray()
X_test_transformed=selector.transform(X_test_transformed).toarray()

In [29]:
X_train_transformed

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [30]:
modelg=GaussianNB()
modelg.fit(X_train_transformed,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [32]:
y_predict=modelg.predict(X_test_transformed)

In [33]:
accuracy_score(y_test,y_predict)

0.9688995215311005

In [34]:
pd.crosstab(y_test,y_predict)

col_0   ham  spam
v1
ham    1412    34
spam     18   208

In [35]:
modelb=BernoulliNB()
modelb.fit(X_train_transformed,y_train)
y_predict=modelb.predict(X_test_transformed)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9814593301435407

col_0   ham  spam
v1
ham    1445     1
spam     30   196

In [36]:
modelm=MultinomialNB()
modelm.fit(X_train_transformed,y_train)
y_predict=modelm.predict(X_test_transformed)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9407894736842105

col_0   ham  spam
v1
ham    1446     0
spam     99   127

In [48]:
newtrail=pd.Series(['free voucher entry win trip'])

In [49]:
newtrail

0    free voucher entry win trip
dtype: object

In [50]:
newtrail_transformed=vectorizer.transform(newtrail)

In [54]:
newtrail_transformed.toarray().shape

(1, 7230)

In [55]:
newtrail_selected=selector.transform(newtrail_transformed).toarray()
newtrail_selected.shape

(1, 723)

In [53]:
modelb.predict(newtrail_selected)

array(['spam'], dtype='<U4')