In [1]:
import pandas as pd
df=pd.read_csv('C:/Datasets/car_evaluation.data',header=None)

In [2]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [3]:
df.columns=['buying','maint','doors','persons','lug_boot','safety','outcome']

In [4]:
df.head()

  buying  maint doors persons lug_boot safety outcome
0  vhigh  vhigh     2       2    small    low   unacc
1  vhigh  vhigh     2       2    small    med   unacc
2  vhigh  vhigh     2       2    small   high   unacc
3  vhigh  vhigh     2       2      med    low   unacc
4  vhigh  vhigh     2       2      med    med   unacc

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null object
persons     1728 non-null object
lug_boot    1728 non-null object
safety      1728 non-null object
outcome     1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [6]:
df.describe()

       buying maint doors persons lug_boot safety outcome
count    1728  1728  1728    1728     1728   1728    1728
unique      4     4     4       3        3      3       4
top      high  high     2    more      med   high   unacc
freq      432   432   432     576      576    576    1210

In [7]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
df.buying=enc.fit_transform(df.buying)
df.maint=enc.fit_transform(df.maint)
df.lug_boot=enc.fit_transform(df.lug_boot)
df.safety=enc.fit_transform(df.safety)
df.doors=enc.fit_transform(df.doors)
df.persons=enc.fit_transform(df.persons)

In [8]:
df.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      0        0         2       1   unacc
1       3      3      0        0         2       2   unacc
2       3      3      0        0         2       0   unacc
3       3      3      0        0         1       1   unacc
4       3      3      0        0         1       2   unacc

In [9]:
df.persons.value_counts()

2    576
1    576
0    576
Name: persons, dtype: int64

In [10]:
X=df.iloc[:,:-1]

In [11]:
Y=df.outcome

In [12]:
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      0        0         2       1
1       3      3      0        0         2       2
2       3      3      0        0         2       0
3       3      3      0        0         1       1
4       3      3      0        0         1       2

In [13]:
Y.head()

0    unacc
1    unacc
2    unacc
3    unacc
4    unacc
Name: outcome, dtype: object

In [14]:
df.shape

(1728, 7)

In [15]:
df.doors.value_counts()

3    432
2    432
1    432
0    432
Name: doors, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=10)

In [18]:
X_train.shape,X_test.shape

((1209, 6), (519, 6))

In [19]:
from sklearn.svm import SVC
model=SVC()
model.fit(X_train,y_train)
y_predict=model.predict(X_test)

c:\users\sudhe\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [20]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519 entries, 954 to 754
Data columns (total 6 columns):
buying      519 non-null int32
maint       519 non-null int32
doors       519 non-null int32
persons     519 non-null int32
lug_boot    519 non-null int32
safety      519 non-null int32
dtypes: int32(6)
memory usage: 16.2 KB

In [21]:
from sklearn.metrics import accuracy_score, classification_report

In [22]:
print(accuracy_score(y_predict,y_test))

0.8921001926782274

In [23]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       72     2     28      0
good      14     5      0      2
unacc      4     0    367      0
vgood      6     0      0     19

# using kernel, c vlaue and gamma value

In [32]:
model2=SVC(kernel='rbf',C=10,gamma=0.8)
model2.fit(X_train,y_train)
y_predict_param=model2.predict(X_test)
print(accuracy_score(y_test,y_predict_param))
pd.crosstab(y_test,y_predict_param)

0.9903660886319846

col_0    acc  good  unacc  vgood
outcome
acc      101     0      1      0
good       0    21      0      0
unacc      2     0    369      0
vgood      2     0      0     23

In [28]:
from sklearn.model_selection import GridSearchCV
parameters={"kernel":['rbf'],'C':[1,10,100,500,1000,10000],'gamma':[0.01,0.1,0.5,1.0]}
grid_model=GridSearchCV(SVC(),parameters)
grid_model.fit(X_train,y_train)

c:\users\sudhe\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='auto_deprecated', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='warn', n_jobs=None,
             param_grid={'C': [1, 10, 100, 500, 1000, 10000],
                         'gamma': [0.01, 0.1, 0.5, 1.0], 'kernel': ['rbf']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [29]:
grid_model.best_score_

0.9809760132340778

In [30]:
grid_model.best_params_

{'C': 500, 'gamma': 0.1, 'kernel': 'rbf'}